[nix]
packages = ["zip"]

[workflows]

[[workflows.workflow]]
name = "Build and zip"
mode = "sequential"
author = 39646367

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mcb build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash makezip.sh"
